body{
  text-align: center;
}
#mainIDfirst{
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
#mainID{
  background-color: yellow;
  text-align: center;
  height: 120%;
  color: gray;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #888888;
}
button{
  border-radius: 5px;
  color: white;
  background-color: blue;
  margin: 10px;
  padding: 10px;
  font-weight: 16px;
}

.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

