<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ToDo list</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/action.js"></script>
</head>

<body>
 
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="128447962950-31ri8l6v06rbp76hvt584ne5m3md2s0l.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<br>
<a href="#" onclick="signOut();">Sign out</a>
<br>


<script>
$(document).ready(function(){
    $("button").click(function(){
        $.ajax({url: "test.txt", success: function(result){
            $("#ajax1").html(result);
        }});
    });
});

</script>
<div id="mainIDfirst">
<div id="mainID">
<br><br>
<h1>To Do list</h1>

<a href="/todo"><button>Create the new goal</button></a>
<br><br><br><hr><br><br><br><br><br>

<button id="button1">How to Set Goals and Managing Time</button>
<div id="text">
<div id="ajax1"><h4>Time flies on wings of lightning; <br>
We cannot call it back.<br>
It comes, then passes forward<br>
Along its onward track.<br>
And if we are not mindful,<br>
The chance will fade away,<br>
For life is quick in passing.<br>
’Tis as a single day.</h4></div>
</div>
<br><br><br><br>
</div>
</div>
</body>
</html>