<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Post rates</h1>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="128447962950-31ri8l6v06rbp76hvt584ne5m3md2s0l.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div>

<script>
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}	
</script>
<br>
<a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>

<br><br><br><br><br>

<form method="post" action="rate.ejs">

<select name="meal">
<option value='Letters (Stamped)'>Letters (Stamped)</option>
<option value='Letters (Metered)'>Letters (Metered)</option>
<option value='Large Envelopes (Flats)'>Large Envelopes (Flats)</option>
<option value='Parcels'>Parcels</option>
</select>
Types of mail
<br><br>
<input type="number" id="calories" name="calories" required>
The weight of the item
<br>
<br>
<input class="button" type="submit" name="submit" value="Post rates">  
</form>




</body>
</html>