<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/action.js"></script>
</head>

<body>
 
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="128447962950-31ri8l6v06rbp76hvt584ne5m3md2s0l.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<br>
<a href="#" onclick="signOut();">Sign out</a>



<script>
$(document).ready(function(){
    $("button").click(function(){
        $.ajax({url: "test.txt", success: function(result){
            $("#ajax1").html(result);
        }});
    });
});

</script>
<div id="mainIDfirst">
<div id="mainID">
<br><br>
<h1>To Do list</h1>

<a href="/todo"><button>Create the new goal</button></a>
<br><br><br><br><br><br><br><br>
<div id="ajax1"><h4>Please, check your plans for today</h4></div>
<button id="button1">check the list of goals for today</button>
<br><br><br><br>
</div>
</div>
</body>
</html>