<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Post rates</h1>


<form method="post" action="rate.ejs">

<select name="meal">
<option value='Letters (Stamped)'>Letters (Stamped)</option>
<option value='Letters (Metered)'>Letters (Metered)</option>
<option value='Large Envelopes (Flats)'>Large Envelopes (Flats)</option>
<option value='Parcels'>Parcels</option>
</select>
Types of mail
<br><br>
<input type="number" id="calories" name="calories" required>
The weight of the item
<br>
<br>
<input class="button" type="submit" name="submit" value="Post rates">  
</form>




</body>
</html>